{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}The Expenser App{% endblock %}

{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
    <!--div class="navbar navbar-fixed-top"-->
    
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar">dd</span>
                    <span class="icon-bar"dd></span>
                    <span class="icon-bar">dd</span>
                </button>
                <!--a class="navbar-brand" href="/expenser">Expenser</a-->
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/expenser">Cashflows</a></li>
                    <li><a href="/">Analysis</a></li>
                </ul>
            </div>

        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="container-fluid">
    <!--div class="container"-->
        <div class="page-header">
            <h1>Cashflows</h1>
        </div>
    
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
    
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.amount.label }} {{ form.amount() }}
            {{ form.description.label }} {{ form.description() }}
            {{ form.category.label }} {{ form.category() }}
            {{ form.date.label }} {{ form.date() }}
            {{ form.booked.label }} {{ form.booked() }}
            {{ form.submit() }}
        </form>
        <!--{{ wtf.quick_form(form) }}-->
        <hr>
        Balance: {{balance}}
        <table class="table table-striped table-hover" >
        <thead class="thead-dark">
        <tr>
            <th>Amount</th>
            <th>Description</th>
            <th>Category</th>
            <th>Date</th>
            <th>Booked</th>
        </tr>

        </thead>
        <tbody>
        {% for cf in cashflows %}
        <tr>
            <td>{{cf.amount}}</td>
            <td>{{cf.description}}</td>
            <td>{{cf.category.name}}</td>
            <td>{{cf.date}}</td>
            <td><input type="checkbox" id="{{cf.id}}" name="{{cf.id}}" {% if cf.booked %} checked {% endif %} onclick="flipBookedFlag({{cf.id}})"></td>
        </tr>
        {% endfor %}
        </tbody>
        </table>

        <div class="pagination">
            {{ macros.pagination_widget(pagination, '.expenser') }}
        </div>

    </div>

{% endblock %}

{% block scripts %}

    {{super()}}

    <script>
        function flipBookedFlag(id) {
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", "/flipBookedFlag/"+id, false);
            xhttp.send();
        }
    </script>

{% endblock %}
